# SPDX-FileCopyrightText: Leica Geosystems AG
#
# SPDX-License-Identifier: MIT

*

!LICENSES
!LICENSES/**

!apps
!apps/**

!doc
!doc/**

!include
!include/**

!test
!test/**

!test_package
!test_package/src
!test_package/src/**
!test_package/CMakeLists.txt
!test_package/conanfile.py

!datasets
!datasets/*.dvc

!.clang-format
!.clang-tidy
!.gitattributes
!.gitignore
!CMakeLists.txt
!conanfile.py
!README.md
!SECURITY.md

