# SPDX-FileCopyrightText: Leica Geosystems AG
#
# SPDX-License-Identifier: MIT

*
!.github
!.github/**

!.teamcity
!.teamcity/**

!apps

!doc

!include

!test

!test_package

!datasets

!.clang-format
!.clang-tidy
!.gitattributes
!.gitignore
!CMakeLists.txt
!conanfile.py
!README.md
!SECURITY.md

